<%= form_for([fanfic, fanfic.comments.build]) do |form| %>

  <div class="field">
    <%= form.label :body %>
    <%= form.text_area :body %>
  </div>

  <div class="actions">
    <%= form.submit t('global.forms.submit'), id: "btn-comment" %>
  </div>
<% end %>


<div id="msg">
</div>

<% comments.each do |comment| %>
  <h3><%= comment.user.name %></h3>
  <small><%= comment.created_at.strftime("%m/%d/%Y at %I:%M%p") %></small>
  <p><%= comment.body %></p>
  <%= link_to t("global.destroy"), comment_path(comment), method: :delete, data: { confirm: t("global.confirm") } if has_access?(comment.user.id) %>
<% end %>
