<h1><%= @user.name %></h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Genre</th>
    </tr>
  </thead>

  <tbody>
    <% @fanfics.each do |fanfic| %>
      <tr>
        <td><%= link_to fanfic.title, fanfic_path(fanfic) %></td>
        <td><%= fanfic.description %></td>
        <td><%= fanfic.genre %></td>
        <% if has_access?(@user.id) %>
          <td><%= link_to 'Edit', edit_fanfic_path(fanfic) %></td>
          <td><%= link_to 'Destroy', fanfic_path(fanfic), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>


<% if has_access?(@user.id) %>
  <%= link_to 'New Fanfic', new_user_fanfic_path(@user) %>
  <%= link_to 'Delete account', user_path(@user), method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>
