<div class="row">
  <div id="index" class="col-9 p-2">
    <h2>
      <% if @tag_name %>
        <%=link_to @tag_name, tag_path(@tag_name), class: "btn btn-outline-secondary btn-lg" %>
      <% else %>
        <h3 class="text-center"><%= "Latest fanfics" %></h3>
      <% end %>
    </h2>
    <% @fanfics.each do |fanfic| %>
      <div class="card p-4 m-1">
        <h3 class="card-title"><%= link_to fanfic.title, fanfic_path(fanfic) %></h3>
        <hr>
        <p class="card-link">
          <small class="font-weight-light"><%= fanfic.created_at %></small>
           by <%= link_to fanfic.author.name, fanfic.author %>
        </p>
        <div class="row">
          <h6 class="col"><%= fanfic.genre.name %></h6>
          <div class="col d-flex justify-content-end mr-2">
            <%= render partial: 'rating/show', locals: { fanfic: fanfic, readonly: "read-only='true'" } %>
          </div>
        </div>
        <p class="card-text"><%= fanfic.description %></p>
        <p><small><%= raw all_tags(fanfic) %></small></p>
      </div>
    <% end %>
  </div>
  <div class="col p-1" id="index">
    <%= render partial: 'top_five'%>
    <%= render partial: 'tags_cloud' %>
  <div>
</div>
