<h1>tag: <%= @tag_name %></h1>
<% @fanfics.each do |fanfic| %>
  <div class = 'col-md-8 offset-2'>
    <h1><%= link_to fanfic.title, fanfic_path(fanfic) %></h1>
    <h3>Author: <%= link_to fanfic.author.name, fanfic.author %></h3>
    <p><%= fanfic.description %></p>
    <p><br><%= fanfic.genre.name %></br></p>
    <p><small>Tags: <%= raw fanfic.tags.map(&:name).map { |t| link_to t, tag_path(t) }.join(', ') %></small</p>
  </div>
  <br>
<% end %>
