<div class="card p-2">
  <h1 class="text-center"><%= @fanfic.title %></h1>

  <p>
    <%= t("fanfic.description") %>:
    <%= @fanfic.description %>
  </p>

  <p>
    <%= t("fanfic.genre") %>:
    <%= @fanfic.genre.name %>
  </p>

  <p>
    <%= t("global.by") %>:
    <%= link_to @fanfic.user.name, user_path(@fanfic.user) %>
  </p>

  <p>
    <%= t("fanfic.tags") %>:
    <% @fanfic.tags.each do |tag| %>
      <%= link_to tag.name, root_path(tag: tag.name), class: "btn btn-outline-secondary btn-sm mb-1" %>
    <% end %>
  </p>

  <%= render partial: 'chapters/table_of_chapters', locals: { fanfic: @fanfic } %>

  <%= link_to t("global.new.chapter"), new_fanfic_chapter_path(@fanfic) %>
  <%= render partial: 'rating/show', locals: { fanfic: @fanfic, readonly: nil } %>
  <%= link_to t("global.back"), root_path %>
  <%= render partial: 'comments/index', locals: { fanfic: @fanfic, comments: @comments } %>

</div>
