
  <% if @chapter.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@chapter.errors.count, "error") %> prohibited this chapter from being saved:</h2>

      <ul>
        <% @chapter.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label t("chapters.name") %>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label t("chapters.body") %>
    <%= form.text_area :body, class: "form-control", row: 5 %>
  </div>
  <div class="field">
    <%= form.label t("chapters.picture") %>
    <div class="fallback">
      <%= form.file_field :picture, class: 'dropzone', class: "form-control" %>
    </div>
  </div>

  <div class="actions d-flex justify-content-center">
    <%= form.submit t("global.forms.save"), class: 'btn btn-secondary btn-lg' %>
  </div>
