<p>
  <strong>Name:</strong>
  <%= @chapter.name %>
</p>

<p>
  <strong>Body:</strong>
  <%= markdown(@chapter.body) %>
</p>

<p>
  <strong>Fanfic:</strong>
  <%= @chapter.fanfic_id %>
</p>

<p>
  <strong>Number:</strong>
  <%= @chapter.number %>
</p>

<%= render partial: 'likes/buttons', locals: { chapter: @chapter } %>

<img class="post-image" src="<%= picture(@chapter) %>">


<%= link_to 'Back to fanfic', fanfic_path(@chapter.fanfic_id) %>
