<p>
  <strong>Name:</strong>
  <%= @chapter.name %>
</p>

<p>
  <strong>Body:</strong>
  <%= @chapter.body %>
</p>

<p>
  <strong>Fanfic:</strong>
  <%= @chapter.fanfic_id %>
</p>

<p>
  <strong>Number:</strong>
  <%= @chapter.number %>
</p>

<img class="post-image" src="<%= @chapter.picture %>">


<%= link_to 'Back', fanfic_path(@chapter.fanfic_id) %>
