<!DOCTYPE html>
<html>
  <head>
    <title>MordorMySQL</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag asset_path('logo_oko.png') %>
  </head>

  <body data-theme=<%= current_theme %>>
    <div class="container">
      <header class="mordor-header p-1">
        <h4 class="text-center">
          <%= link_to image_tag('logo_icon.png', size: '50') + t("global.title"), root_path %>
        </h4>
        <hr>
        <div class="row">
          <div class="col-mg-auto pt-1 ml-3">
            <%= render 'search/form' %>
          </div>

          <div class="col d-flex justify-content-end align-items-center">
            <% if current_user %>
              <%= link_to current_user.name, current_user, class: 'btn btn-secondary mr-1' %>
              <%= link_to t("users.btn.log_out"), log_out_url, class: 'btn btn-secondary', method: :delete %>
            <% else %>
              <%= link_to t("users.btn.log_in"), log_in_url, class:  'btn btn-secondary mr-1' %>
              <%= link_to t("users.btn.sign_up"), sign_up_url, class: 'btn btn-secondary' %>
            <% end %>
          </div>
        </div>
      </header>
      <div class="row p-3">
        <div class="col d-flex justify-content-begin">
          <small>
            <%= render 'layouts/dark_mode' %>
          </small>
        </div>
        <div class="col d-flex justify-content-end">
          <small>
            <%= link_to 'Русский', user_locale_path(locale: :ru) %>
            <%= link_to 'English', user_locale_path(locale: :en) %>
          </small>
        </div>

      </div>
      <% flash.each do |name, msg| -%>
        <%= content_tag :div, msg, class: name %>
      <% end -%>
      <%= yield %>
    </div>
  </body>
</html>
