<!DOCTYPE html>
<html>
  <head>
    <title>MordorMySQL</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag asset_path('logo_oko.png') %>
  </head>

  <body data-theme=<%= current_theme %>>
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
      <h5 class="my-0 mr-md-auto font-weight-normal"><%= link_to t("mordor"), root_path %></h5>
      <ul>
        <li><%= link_to 'English', user_locale_path(locale: :en) %></li>
        <li><%= link_to 'Русский', user_locale_path(locale: :ru) %></li>
      </ul>
      <%= render 'layouts/dark_mode' %>
      <%= render 'search/form' %>
      <% if current_user %>
        <nav class="my-2 my-md-0 mr-md-3">
          <span><%= link_to current_user.name, current_user %></span>
        </nav>
        <%= link_to t("users.btn.log_out"), log_out_url, class: 'btn btn-primary btn-xs', method: :delete %>
        <%= link_to t("users.btn.all_users"), users_path, class: 'btn btn-primary btn-xs' if current_user_admin? %>
      <% else %>
        <%= link_to t("users.btn.log_in"), log_in_url, class:  'btn btn-primary mr-1' %>
        <%= link_to t("users.btn.sign_up"), sign_up_url, class: 'btn btn-primary' %>
      <% end %>
    </div>
    <% flash.each do |name, msg| -%>
      <%= content_tag :div, msg, class: name %>
    <% end -%>

    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
